<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fixed query menu</title>
<style>
        a {
            color:black;
            border: 2px solid black;
            padding: 20px;
            display: block;
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
      <form action="/" method="get">
        <button type="submit">Return to main menu</button>
      </form>
  </header>
    <h1  style="text-align:center;">DataMining HW 2 Server</h1>
    <nav>
    <a href="/top10price"> <b >TOP 10 PRICES</b></a>
    <br >
    <a href="/top10rated"> <b> TOP 10 RATINGS
    </b> </a>
        <br >
        <a href="/price_categories"> <b >CATEGORIES WITH PRICE RANGES</b></a>
        <br>
        <a href="/top10rated_weighted"> <b >TOP 10 RATINGS WEIGHTED BY NUMBER OF REVIEWS</b></a>
</nav>

</body>
</html>