<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu of the app</title>
    <style>
        a {
            color:black;
            border: 2px solid black;
            padding: 20px;
            display: block; /* Assicurati che gli elementi <a> siano visualizzati come blocchi */
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<main>
    <h1  style="text-align:center;">DataMining HW 2 Server</h1>

<nav>
    <a href="/query_menu"> <b >QUERY MENU</b></a>
    <br >
    <a href="/fixed_queries"> <b> DEFAULT QUERIES
    </b> </a>
    <br >
    <a href="/nearest_products"> <b> NEAREST PRODUCTS REPORTS
    </b> </a>
</nav>
</main>

</body>
</html>